name: test
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        perl: ["latest", "5.40", "5.38", "5.36", "5.34", "5.32", "5.30", "5.28", "5.26", "5.24", "5.22"]
        os: [ubuntu-latest]
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - name: Create cache directories
        run: mkdir -p ~/.cpanm
      - name: Install Dependencies
        run: cpanm -nq --installdeps --with-recommends .
      - name: Run test
        run: prove -lr t
